
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       تعاریف اولیه
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
	  <a class="list-group-item list-group-item-action" href="/members/add">انواع نامه</a>
	  <a class="list-group-item list-group-item-action" href="/members/add">طبقه بندی نامه ها</a>
	  <a class="list-group-item list-group-item-action" href="/members/input_user_pople">اشخاص</a>
	  <a class="list-group-item list-group-item-action" href="/members/add">واحد های سازمانی</a>
	  <a class="list-group-item list-group-item-action" href="/members/add">دستورات</a>
	  <a class="list-group-item list-group-item-action" href="/members/sign_digital">امضا دیجیتال</a>
	  </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        دبیر خانه
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
		<a class="list-group-item list-group-item-action" href="/members/paperindex">نامه وارده</a>
		
	  </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        اتوماسیون اداری
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
	  <a class="list-group-item list-group-item-action" href="/members/paper_send">نامه صادره</a>
		<a class="list-group-item list-group-item-action" href="/members/enter_paper">نامه داخلی</a>
		<a class="list-group-item list-group-item-action" href="/members/datagrade_cartabl/{{user.id}}/0">کارتابل</a>
	  <a class="list-group-item list-group-item-action" href="/members/inputformpaper">ارجاع به واحد</a>
	  </div>
    </div>
  </div>
</div>

