
<div class="col-2 bg-light p-3 border"><a href="/members/paperindex">نامه وارده</a></div>
<div class="col-2 bg-light p-3 border"><a href="/members/paper_send">نامه صادره</a></div>
<div class="col-2 bg-light p-3 border"><a href="/members/enter_paper">نامه داخلی</a></div>
<div class="col-2 bg-light p-3 border"><a href="/members/datagrade_cartabl/{{user.id}}/0">کارتابل</a></div>
<div class="col-2 bg-light p-3 border">ثبت اتوماسیون</div>
<div class="col-2 bg-light p-3 border"><a href="{% url 'login'%}?next={{request.path}}">خروج</a></div>



